<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<title>{% block title %}Welcome!{% endblock %}</title>
{% block stylesheets %}
{% endblock %}
<link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
<link href="{{ asset('css/main.css') }}" rel="stylesheet" />
<link href="{{ asset('css/select2.min.css') }}" rel="stylesheet" />
<link href="{{ asset('css/jquery-ui.min.css') }}" rel="stylesheet" />
<script src="{{ asset('js/jquery-3.1.1.min.js') }}"></script>
<script src="{{ asset('js/jquery-ui.min.js') }}"></script>
<script src="{{ asset('js/select2.min.js') }}"></script>
</head>
<body>
	<aside id="topbar">
		{{ app.user.username }}
	</aside>
	<div class="flex-container">
		<aside id="leftside">
			{% block left %}
			{% endblock %}
		</aside>
		<div id="content">
			{% block body %}
			{% endblock %}
		</div>
		<aside id="rightside">
			{% block right %}
			{% endblock %}
		</aside>
	</div>
	{% block javascripts %}
	{% endblock %}
</body>
</html>
