{% extends 'base.html.twig' %}

{% block body %}

hello
{{ app.user.username }}
<ul>
	{% for operation in operations %}
	<li>{{ operation.description|e }} - {{ operation.amount.getAmount()|e }} {% if operation.proceedings|length > 0 %}
		<ul>
			{% for proceeding in operation.proceedings %}
			<li><a
				href="{{ path('showuserdebt', {'userId' : proceeding.user1.id}) }}">{{ proceeding.user1|e }}</a>
				--{{ proceeding.amount.getAmount()|e }}--> <a
				href="{{ path('showuserdebt', {'userId' : proceeding.user2.id}) }}">{{ proceeding.user2|e }}</a></li>
			{% endfor %}
		</ul> {% endif %}</li>
	{% endfor %}
</ul>

{% endblock %}

{% block stylesheets %}
{% endblock %}
