{% extends 'base.html.twig' %}

{% block right %}
{% for code, sum in sums %}
<p>
    {% if sum.isPositive() %}
        {% trans with { '%username%': otherUser.username|e } %}%username% owes you{% endtrans %}<br>{% include 'money.html.twig' with { money : sum } %}
    {% else %}
    	{% trans with { '%username%': otherUser.username|e } %}You owe %username%{% endtrans %}<br>{% include 'money.html.twig' with { money : sum } %}
    {% endif %}
</p>
{% else %}
	{{ 'You and %username% are<br>even.' | trans({ '%username%': otherUser.username|e }) | raw }}
{% endfor %}
{% endblock %}
{% block body %}
<div>
		<h2 style="width: 145px; display: inline-block;">{{ otherUser.username }}</h2>
    	<div style="width: 400px; display: inline-block; text-align: right;">
    		<a href="{{ path('addOperation', { 'userId' : otherUser.id }) }}" class="button" style="width: unset; display: inline-block;">{% trans %}new operation{% endtrans %}</a>
    		<a href="{{ path('addPayment', { 'userId' : otherUser.id }) }}" class="button" style="width: unset; display: inline-block;">{% trans %}clear debts{% endtrans %}</a>
    	</div>
</div>
	{% for operation in operations %}
	<div class="operation">
		<div class="summary">
			<div class="mainblock">
    			<div class="date" title="{{ operation.datetime|date('Y-m-d\\TH:i:sP') }}">
    			    {{ operation.datetime|date('M') }}
    				<div class="datenumber">{{ operation.datetime|date('d') }}</div>
    			</div>
	    		<div class="description">{% if operation.isPayment() %}<span class="paymentstring">{% trans %}-Payment-{% endtrans %}</span>
	    			{% else %}
	    				{{ operation.description|e }}
    			    {% endif %}</div>
			</div>
    		<div class="cost">{% if not operation.isPayment() %}{{ operation.amount|money }}{% endif %}</div>
			<div class="you">{% include 'money.html.twig' with { 'money' : attribute(summarySums, operation.id) } %}</div>
		</div>
		<div class="details">
    		{% for split in operation.splits %}
    		<div>
    			<div class="user" title="{{ split.user }}">{{ split.user }}</div>
    			<div class="paid">{% if not split.paid.isZero() %}
    				{% trans with {'%amount%' : split.paid|money } %}paid %amount%.{% endtrans %}
    			{% endif %}</div>
    			<div class="debt">{% if not split.debt.isZero() %}
    			    {% trans with {'%amount%' : split.debt|money } %}owes %amount%.{% endtrans %}
    			{% endif %}</div>
    		</div>
    		{% endfor %}
    	</div>
	</div>
	{% endfor %}
	<script>
$(document).ready(function(){
    $(".summary").click(function() {
         $(this).next().toggle('fast');
    });
});
	</script>

{% endblock %}

{% block stylesheets %}
{% endblock %}
