{% extends 'base.html.twig' %}

{% block body %}
<h2>{% trans %}add a new Payment{% endtrans %}</h2>
{{ form_start(form) }}
	<div class="inner-wrap" style="text-align: center">
		<div>
    		<div id="senderblock">{{ form_row(form.sender) }}</div>
    		<div id="direction">=></div>
    		<div id="receiverblock">{{ form_row(form.receiver) }}</div>
		</div>
		<div>
			<div class="currencyblock">{{ form_row(form.currency) }}</div>
			<div class="moneyblock">{{ form_row(form.amount) }}</div>
		</div>
		<div id="dateblock">
			{{ form_row(form.date) }}
		</div>
	</div>
	<div class="button-section" style="display:inline-block;">
		{{ form_row(form.add) }}
    </div>
{{ form_end(form) }}

<script>
    $(document).ready(function() {
    	$(".js-example-basic-multiple").select2();
    	$(".currencyinput").select2();
        $('.js-datepicker').datepicker({
            dateFormat: 'yy-mm-dd'
        });
		var x = $("#moneyinput");
        var formatter = new Intl.NumberFormat('de-DE', {
       		style: 'currency',
        	currency: 'EUR',
        	minimumFractionDigits: 2,
        });
        x.text(formatter.format(x.text()));
    });
</script>

{% endblock %}

{% block stylesheets %}
{% endblock %}
